.header{
    width: 100%;
    height: 100px;
    background-color: lime;
}
.block{
    width: 100%;
    display: flex;
}
.main{
    width: 30%;
    height: 500px;
    background-color: aquamarine;
}
.post{
    width: 70%;
    height: 500px;
}
.post_1{
    height: 250px;
    background-color: aqua;
}
.post_2{
    height: 250px;
    background-color: tomato;
}
.footer{
    width: 100%;
    height: 150px;
    background-color: darkorange;
}